@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<section class="content">

<div class="row offset-1">
    <div class="col-md-6">
        <div class="small-box bg-info">
            <div class="inner">
                    <h3>3</h3>
                <p>Number of Transaction</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
                <a asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
</section>